.metadata/**
MultiProcessor.cache/**
MultiProcessor.runs/**
MultiProcessor.srcs/**
MultiProcessor_hw_platform_0/**
RemoteSystemsTempFiles/**

multicore.tcl
Multiprocessor.xpr
SDK.log

MultiProcessor.sdk/.metadata/
MultiProcessor.sdk/RemoteSystemsTempFiles/
MultiProcessor.sdk/design_1_wrapper.hdf
MultiProcessor.sdk/design_1_wrapper_hw_platform_0/
MultiProcessor.sdk/lab3b-0/
MultiProcessor.sdk/lab3b-1/
MultiProcessor.sdk/lab3c/
MultiProcessor.sdk/lab3d-0/
MultiProcessor.sdk/lab3d-1/
MultiProcessor.sdk/webtalk/